.adana{
  display: flex;
}
.pro{
  display: grid;
  grid-template-columns: 1190px;
  grid-template-rows: 100vh ;
  column-gap: 10px;

  
 
 
  
  border: solid red 3px;
  
}
.fil{

  display: grid;
 grid-template-columns: 200px ;
 grid-template-rows: 100px 2fr;
  border: solid black 3px;
  
}
.car{
  display: flex;
  flex-wrap: wrap;
}
.ca{
 
}
.ana{
  border: 3px green solid;
  
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
button{
  border-radius: 5px;
  cursor: pointer;
}
.ana button:hover{
  background-color: red;
}
.log{
  width: 100vw;
  height: 100vh;
  padding: 0px; 
  margin: 0;
  overflow: hidden;
  display: flex;

  flex-wrap: wrap;


}
.der{
  height: 100px;
  width: 100px;
margin-top: 300px;
  border-radius: 45px;
  background: red;
  display: flex;
}

.recht{
  display: flex;
  justify-content: center;
  text-align: center;
 
  width: 50%;
  height: 100%;
  border: solid 2px red;
}


